<h1>ZOOM ROOM 追加</h1>
<%= form_with model: @review, local: true do |form| %>
  <p>
    Zoom url：<br>
    <%= form.text_field :zoom_url %>
  </p>
  <p>
    時間範囲：<br>
    <%= form.text_area :range %>
  </p>
  <p>
    有効期限：<br>
    <%= form.number_field :deadline %>
  </p>
  <p>
    部屋の名前：<br>
    <%= form.text_field :room %>
  </p>
  <%= form.submit "登録" %>
  <%= link_to "一覧に戻る", reviews_path(@review) %>
<% end %>